.header {
  display: flex;
  padding: 60px;
  background-color: #f1f1f1;
  color: white;
  font-size: 30px;
  list-style-type: none;
}

.header li {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.card {
  margin: 20px;
  background: white;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}
